header {
	margin-left: -10px;
	margin-right: 25px;
	background: #F0F0F0;
}

@font-face {
	font-family: 'Wild Creatures';
	src: url(fonts/WildCreaturesSample.ttf);
	font-style: normal;
}


li.logo {
	margin: 0px;
	float: left;
	padding: 10px 0px 0px;
	font-family: Wild Creatures;
	font-size: 60px;
	color: #3A3A3A;
}

li {
	margin: 10px;
	display: inline-block;
	float: right;
	font-family: soleil, sans-serif;
  	font-weight: 300;
  	font-style: normal;
  	font-size: 15px;
  	padding: 10px 2px 0px;
}

a {
	color: #3A3A3A;
  	text-decoration: none;
}

a:hover {
  color: #88CADD;
}

a:active {
	font-weight: bold;
}

#hero {
	padding: 425px 160px 0px;
	text-align: left;
	font-family: soleil, sans-serif;
  	font-weight: 300;
  	font-style: normal;
  	font-size: 20px;
  	line-height: 10px;

}

h2 {
	font-family: adriane, serif;
  	font-weight: 700;
  	font-style: normal;
  	padding: 0px;
  	font-size: 50px;
}
b, i {
	color: #88CADD;
}

p {
	font-family: soleil, sans-serif;
  	font-weight: 300;
  	font-style: normal;
  	font-size: 15px;
  	line-height: 25px;	
}

h3 {
	font-family: adriane, serif;
  	font-weight: 700;
  	font-style: normal;
  	padding: 0px;
  	font-size: 30px;
}

#fworks {
	text-align: center;
	padding: 100px 160px 0px;
	line-height: 10px;
	margin: 0 300px 0 300px;
}

.xop-section {
	max-width: 960px;
	margin: 0 auto;
	padding: 0% 0%;
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid:after {
	clear: both;
}

.xop-grid:after, .xop-box:before {
	content: '';
	display: table;
}

.xop-grid li {
	width: 325px;
	height: 300px;
	display: inline-block;
	margin: 2px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}

.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/paint.jpg);
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/soap.jpg);
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/flower.jpg);
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(../images/feather.jpg);
}

.xop-info {
	position: absolute;
	width: inherit;
	height: inherit;
}

.xop-info h3 {
	font-family: 'Pacifico', cursive;
	font-weight: 400;
	color: #fff;
	font-size: 42px;
	margin: 0 30px;
	padding: 100px 0 0 0;
	line-height: 1.5;
}

.xop-info p {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding: 4px 5px;
	margin: 0 30px;
	font-size: 14px;
	line-height: 2;
}